BACKEND_HOST= 
BACKEND_PORT=
BACKEND_USER=
BACKEND_PASS=

API_FTP_HOST=
API_FTP_PASS=
API_FTP_DESTINATION=
API_FTP_USER=

FRONTEND_FTP_HOST=
FRONTEND_FTP_PASS=
FRONTEND_FTP_DESTINATION=
FRONTEND_FTP_USER=
